name: Test Python Hello World CI

on:
  push:
    branches: main
  pull_request:
    branches: main 

jobs:
  lint:
    name: Run PyLint
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint    
     
    - name: Run PyLint
      run: |
        pylint --disable=all --enable=C0116,W0311 --max-line-length=100 $(git ls-files '*.py')
    