name: Test Python Hello World CI
on:
  push:
    branches: master
jobs:
  lint:
    name: Run Hello World
    runs-on: self-hosted
    steps:
    - name: Install dependencies
      run: |
        echo "Hello World"
