name: CI Pipeline  
  
on:  
  push:  
    branches:  
      - main  
  pull_request:  
  
jobs:  
  build:  
    runs-on: self-hosted  
  
    steps:  
      # Step 1: Checkout the code  
      - name: Checkout Code  
        uses: actions/checkout@v3  
  
      # Step 2: Build Docker Image  
      - name: Build Docker Image  
        run: |  
          docker build -t flask-hello-world .  
  
      # Step 3: Run Tests  
      - name: Run Application in Docker  
        run: |  
          docker run -d -p 5000:5000 flask-hello-world  
          sleep 5  
          curl -v http://localhost:5000  
